@media screen and (min-width: 769px) and (max-width: 1140px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .area1 {
        grid-template-columns: 3fr 2fr;
    }
    .area2 {
        grid-template-columns: 2fr 3fr;
    }
    .area3 {
        grid-template-columns: 3fr 2fr;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header--menu {
        margin-left: 20px;
    }

    .header--search input {
        max-width: fit-content;
        margin-left: 30px;
    }

    h1 {
        font-size: 60px!important;
        line-height: 60px!important;
    } 
    h2 {
        font-size: 30px!important;
        line-height: 38px!important;
    }

    .banner--images img{
        width: 70px;
        height: 70px;
        border: 3px solid #117050;
        margin-right: 10px;
    }

    .area1--content,
    .area2--content,
    .area3--content,
    .area4--content {
        padding: 40px;
    }

    .area1,
    .area2,
    .area3,
    .area4 {
        grid-template-columns: 1fr;
    }
    .area5{
        height: 200px;
    }
}
