@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

span.bar {
    width: 200px;
    height: 22px;
    background-color: #117050;
    display: block;
    margin-bottom: 10px;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 96px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 100px;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: 30px 0;
    line-height: 40px;
    letter-spacing: 1px;
}

.button {   
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;    
    font-weight: bold;
    color: #117050;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 20px;
    border: 4px solid #117050;
    border-radius: px;
    padding: 10px 30px;
    transition: all 0.2s ease-in-out; 
}
.button:hover {
    background-color: #117050;
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header */

header .line {
    background-color: #117050 ;
    height: 15px;
}

.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header--left img {
    width: 64px;
    height: 64px;
}

.header--right {
    display: flex;
    align-items: center;
}

.header--search form {
    display: flex;
}

.header--search input {
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999;
    outline: 0;
    cursor: pointer;
    outline: 0;
    width: 100%;
    max-width: 250px;
}
.header--search button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-left: -25px;
}
.header--search button img {
    width: 16px;
    height: 16px;
}

.header--menu {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    cursor: pointer;
}
.header--menu img {
    width: 24px;
    height: 24px;
}

/* Banner */

.banner {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}
.banner h1 {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 80px;
}
.banner span {
    font-family: 'Open Sans', sans-serif;
    color:#555;
    letter-spacing: 1px;
    margin-bottom: 30px;
    display: block;
}

.banner--images {
    margin-top: 60px;
}
.banner--images img {
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}
.banner--images img:last-child {
    margin-right: 0;
}

/* Area1 & Area2 & Area3 */
.area1, .area2, .area3 {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
}

.area1--content,
.area2--content,
.area3--content {
    padding: 80px;
}

.area1--content .bar,
.area2--content .bar {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;    
    font-weight: bold;    
    margin-bottom: 20px;
}

.area1--content .area1--text,
.area2--content .area2--text,
.area3--content .area3--text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;    
    margin-bottom: 20px;
    line-height: 25px;
    color: #555;
}

.area1--content .area1--quote {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;   
    margin-bottom: 20px;
    color: #555;
}

/* Area1 images */
.area1--img1 {
    height: 350px;
    background-image: url('../images/f2.jpg');
    background-size: cover;
    background-position: center;
}

.area1--img2 {
    background-image: url('../images/f1.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

/* Area2 images */
.area2--img1 {
    height: 450px;
    background-image: url('../images/f4.jpg');
    background-size: cover;
    background-position: center;
}
.area2--img2 {
    background-image: url('../images/f3.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

/* Area3 images */
.area3--content {
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-position: left;
    padding: 300px 80px;
}

.area3--img1 {
    background-image: url('../images/f5.jpg');
    background-size: cover;
    background-position: center;
}








