@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header */

header .line {
    background-color: #117050 ;
    height: 15px;
}

.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header--left img {
    width: 64px;
    height: 64px;
}

.header--right {
    display: flex;
    align-items: center;
}

.header--search form {
    display: flex;
}

.header--search input {
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999;
    outline: 0;
    cursor: pointer;
    outline: 0;
    width: 100%;
    max-width: 250px;
}
.header--search button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-left: -25px;
}
.header--search button img {
    width: 16px;
    height: 16px;
}

.header--menu {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    cursor: pointer;
}
.header--menu img {
    width: 24px;
    height: 24px;
}

/* Banner */

.banner {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}
.banner h1 {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    margin-bottom: 20px;
}
.banner span {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 20px;
    display: block;
}

.banner--images {
    margin-top: 60px;
}
.banner--images img {
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}
.banner--images img:last-child {
    margin-right: 0;
}